# The Wonderful World of Walmart

This notebook begins to explore the retail sales of Walmart over a time period of.  INSERT TIME PERIOD.
We will be predicting sales price per store. 

The data source is below

https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting/data

First things first, lets import and take a peek at our data.

In [2]:
import pandas as pd

train = pd.read_csv('Data/train.csv', sep = ',') # read in the training data 
feat = pd.read_csv('Data/features.csv', sep = ',') # Read in feature Data
stores = pd.read_csv('Data/stores.csv', sep = ',') # read in the store data 
df = train.merge(stores, on='Store', how='left').merge(feat, on='Store', how='left')

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8190 entries, 0 to 8189
Data columns (total 14 columns):
Store           8190 non-null int64
Type            8190 non-null object
Size            8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(2), object(2)
memory usage: 903.8+ KB

,Store,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,130287.600000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,63115.971429,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,34875.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,70713.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,126512.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,202307.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,219622.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000

Now that we've got some basics down, how big of a dataset are we looking at here.